.full-item {
  position: relative;
  width: 600px;
}


.full-item img {
  max-height: 550px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 0 -200px; */
  margin-top: 10px;
}

.full-item .info {
  position: relative;
  padding-left: 15px;
}

.full-item .info::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 55px;
  width: 4px;
  background: #21272F;
  border-radius: 2px;
}

.full-item .title {
  padding-left: 0;
  margin: 5px 0;
  font-weight: normal;
}

.full-item .price {
  position: absolute;
  padding: 0;
  font-weight: 600;
  font-size: 22px;
  color: #21272F;
}

.full-item .add-to-cart {
  bottom: -27px;
  right: 0;
}