footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-top: 100px;
  text-align: right;
  background: #21272F;
  color: white;
  padding: 40px 20px;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}