@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  padding-top: 30px;
  padding-bottom: 120px;
  background: white;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 50px;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  position: relative;
  width: 30%;
  margin-bottom: 30px;
  background: rgb(249, 249, 249);
  padding-bottom: 20px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

main .item:nth-child(3n + 2) {
  margin: 0 calc((1280px - 90%) / 2);
  margin-bottom: 30px;
}

main .item img {
  min-height: 450px;
  max-height: 450px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform .5s;
  cursor: pointer;
}

main .item img:hover {
  transform: scale(1.05);
}

.title, .desc, .price {
 padding: 0 15px; 
}

main .item .desc {
  margin: 20px 0;
  color: rgb(63, 63, 63);
}

main .item .price {
  font-size: 20px;
  font-weight: bold;
  color: #21272F;
} 